# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / dist
# =========================
dist/
build/
out/

# =========================
# Angular
# =========================
.angular/
.tmp/
.cache/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Environment
# =========================
.env
.env.*.local

# =========================
# Coverage / testes
# =========================
coverage/
.nyc_output/

# =========================
# Arquivos temporários
# =========================
tmp/
temp/

# =========================
# Sourcemaps (opcional)
# =========================
*.map

# =========================
# OneDrive (evita dor de cabeça)
# =========================
*.lnk