<div class="fundo">
  <mat-card class="card-login">

    <div class="logo-container">
      <a href="#" class="logo-link">
        <i class="fa-solid fa-gear"></i>
        OF Manager
      </a>
      <p class="logo-sub">Sistema de Ordens de Fornecimento</p>
    </div>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" placeholder="seu@email.com" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="senha" name="senha" placeholder="••••••" />
    </mat-form-field>

    <button mat-flat-button color="primary" class="botao" (click)="entrar()">
      Entrar
    </button>

  </mat-card>
</div>
